h2 {
    font-size: 2em;
}

.title {
    text-align: center;
    font-size: 4em;
}

.nav-row {
    align-items: center;
}

.nav-row a {
    text-align: center;
    font-size: 3em;
}

.disclaimer {
    font-size: 0.5em;
}

.prod-name {
    font-size: 1.5em;
}

.prod-desc {
    font-size: 1em;
}

.prod-price {
    font-size: 1em;
}

img.prod-pic {
    width: 150px;
    height: 150px;
}

.news-title {
    font-size: 1.5em;
}

.news-body {
    font-size: 1em;
}

.contact-name {
    font-size: 1.5em;
}

.contact-email {
    font-size: 1em;
}

.login {
    font-size: 1em;
}

.error {
    font-size: 2em;
}

.recently-viewed {
    font-size: 1em;
}

.most-viewed {
    font-size: 1em;
    margin-left: 5em;
}

.column {
    vertical-align: top;
}

.table-display {
    border: 3px solid;
    border-collapse: collapse;
}

.table-display td {
    border-bottom: 1px solid;
    padding-right: 1em;
}

.table-display td:last-child {
    padding-right: 0px;
}

.table-display th {
    font-weight: bold;
    border-bottom: 2px solid;
    padding-right: 1em;
}

.table-display th:last-child {
    padding-right: 0px;
}

.note {
    font-size: 0.75em;
}

.layout {
    width: 100%;
}