h2 {
    font-size: 2em;
}

.title {
    text-align: center;
    font-size: 4em;
}

.nav-item {
    text-align: center;
    font-size: 3em;
}

.nav-row {
    align-items: center;
}

.disclaimer {
    font-size: 0.5em;
}

.prod-name {
    font-size: 1.5em;
}

.prod-desc {
    font-size: 1em;
}

.prod-price {
    font-size: 1em;
}

img.prod-pic {
    width: 150px;
    height: 150px;
}

.news-title {
    font-size: 1.5em;
}

.news-body {
    font-size: 1em;
}

.contact-name {
    font-size: 1.5em;
}

.contact-email {
    font-size: 1em;
}

.login {
    font-size: 1em;
}

.error {
    font-size: 2em;
}

.recently-viewed {
    font-size: 1em;
}

.most-viewed {
    font-size: 1em;
    margin-left: 5em;
}

.column {
    vertical-align: top;
}

.user-list {
    border: 3px solid;
    border-collapse: collapse;
}

.user-list > tr {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.col-names {
    font-weight: bold;
    border-top: 0px;
    border-bottom: 2px solid;
}